<<<<<<< HEAD
body {
=======
body { 
>>>>>>> a5c3e9f0164346894cb0d936eae29a51813f3d51
    margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
<<<<<<< HEAD

=======
	
>>>>>>> a5c3e9f0164346894cb0d936eae29a51813f3d51
	background-color: #8aa495;
	background-image: url(../img/bg.jpg);
}

a {
  text-decoration: none;
  color: #ffffff;
}

.site-navigation,
.catalog-menu  {
	font-weight: 700;
	list-style: none;
}

.site-navigation a,
.catalog-menu a {
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active,
.catalog-menu a:hover,
.catalog-menu a:focus,
.catalog-menu a:active {
	color: #ffbc9e;
}

.work-hours	{
	font-size: 14px;
	font-weight: 700;
}

.phone-number	{
	font-size: 22px;
	font-weight: 700;
}

.slider  {
	background-image: url(../img/slider-item1.png);
	background-repeat: no-repeat;
<<<<<<< HEAD
	background-size: contain;
}

.banner {
    width: 560px;
    min-height: 230px;
    border-radius: 15px;
    float: left;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-right: 23px;
    margin-left: -2px;
    padding: 14px 20px;
    position: relative;

=======
	background-size: contain;	
>>>>>>> a5c3e9f0164346894cb0d936eae29a51813f3d51
}

.banner-1	{
	background-image: url(../img/raspberry-bg.jpg);
	background-repeat: no-repeat;
<<<<<<< HEAD

=======
>>>>>>> a5c3e9f0164346894cb0d936eae29a51813f3d51
}

.banner-2	{
	background-image: url(../img/chocolate-bg.jpg);
	background-repeat: no-repeat;
<<<<<<< HEAD
  margin-right: 0;

=======
>>>>>>> a5c3e9f0164346894cb0d936eae29a51813f3d51
}




<<<<<<< HEAD


=======
>>>>>>> a5c3e9f0164346894cb0d936eae29a51813f3d51
